.sitemap {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 0 20px;
    height: 100%;
    justify-content: space-between;
}

.column_sitemap {
    background-color: #f8f8f8;
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
    border: 2px solid #999;
}

.column_sitemap h1 {
    color: #FFC107;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}

.column_sitemap ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.column_sitemap ul li {
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 6px 0;
}

.column_sitemap ul a {
    position: relative;
    padding-bottom: 4px;
}

.column_sitemap ul a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fc2f70;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.column_sitemap ul a:hover::before {
    transform: translate(-50%, 0) scaleX(1);
}

@media (max-width: 46.1875em) {
    .sitemap {
        flex-direction: column;
    }
}